body{
    font-family: "Poppins", sans-serif;
    margin: 2rem 5rem;
}

hr{
    border: 1.5px solid black;
    border-radius: 2px;
}

.heading{
    color :green;
}
.content, .heading, .sub-heading{
    font-weight: 450;
}

.sub-heading{
    color :rgb(46, 112, 255);
}